*{
    margin:auto;
    width: 600px;
    align-content: center;
}

.buttonblock{
   margin-top: 50px;
    width:400px;
    height: 400px;
    border: solid 2px orange;
    
}

.buttonblock>input{
    margin-top:10px;
    width:120px;
}

.ex{
clear: both;
}